

<div class="container">

  <div class="row">

    <div class="col-md-3 order-md-2">

      <div class="optionGroup">
        <p>Paragraphs: {{ targetParagraphs }} 
          <button class="btn btn-sm btn-secondary" (click)="doParaDec()">-</button> 
          <button class="btn btn-sm btn-secondary" (click)="doParaInc()">+</button></p>

        <p>Min Sentences: {{ minSentences }} 
          <button class="btn btn-sm btn-secondary" (click)="doMinSenDec()">-</button> 
          <button class="btn btn-sm btn-secondary" (click)="doMinSenInc()">+</button></p>
        
        <p>Max Sentences: {{ maxSentences }} 
          <button class="btn btn-sm btn-secondary" (click)="doMaxSenDec()">-</button> 
          <button class="btn btn-sm btn-secondary" (click)="doMaxSenInc()">+</button></p>
      </div>


      <div class="optionGroup">
      
        <span class="label">Text Source:</span>

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': sourceSelection=='wine'}" 
          (click)="doSelectSource('wine')">
          Wine Reviews</button><br />

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': sourceSelection=='whitman'}" 
          (click)="doSelectSource('whitman')">
          Whitman - Song of Myself</button><br />

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': sourceSelection=='conan'}" 
          (click)="doSelectSource('conan')">
          Conan the Barbarian</button><br />
          
        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': sourceSelection=='kafka'}" 
          (click)="doSelectSource('kafka')">
          Kafka's Metamorphosis</button><br />

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': sourceSelection=='science'}" 
          (click)="doSelectSource('science')">
          Poincare's New Physics</button><br />

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': sourceSelection=='software'}" 
          (click)="doSelectSource('software')">
          GitLab Issues</button><br />

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': sourceSelection=='eula'}" 
          (click)="doSelectSource('eula')">
          Terms and Conditions</button><br />
      </div>



      <div class="optionGroup">

        <span class="label">Output:</span>

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': formatMacro=='text'}" 
          (click)="doFormatMacro('text')">
          Text</button>

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': formatMacro=='code'}" 
          (click)="doFormatMacro('code')">
          HTML</button>
          
          <button class="btn btn-sm" 
          [ngClass]="{'btn-red': formatMacro=='markdown'}" 
          (click)="doFormatMacro('markdown')">
          Markdown</button>
          
          


      </div>


      <div class="optionGroup">

        <span class="label">Format:</span>

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': formatMicro=='p'}" 
          (click)="doFormatMicro('p')">
          &lt;p&gt;</button>

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': formatMicro=='ul'}" 
          (click)="doFormatMicro('ul')">
          &lt;ul&gt;</button>

        <button class="btn btn-sm" 
          [ngClass]="{'btn-red': formatMicro=='ol'}" 
          (click)="doFormatMicro('ol')">
          &lt;ol&gt;</button>

      </div>
  

        <div class="optionGroup">
          <p>
            <button class="btn btn-success" (click)="generate()">Regenerate</button> <button class="btn btn-light" (click)="doStorageReset()">Reset</button>
          </p>
        </div>

    </div>




    <div class="col-md-9 order-md-1">
  
      <ng-container [ngSwitch]="formatMacro">
          


          <div *ngSwitchCase="'text'">

            <ng-container [ngSwitch]="formatMicro">

              <ng-container *ngSwitchCase="'p'">
                <p *ngFor="let para of outText">{{ para }}</p>
              </ng-container>

              <ul *ngSwitchCase="'ul'">
                <li *ngFor="let para of outText">{{ para }}</li>
              </ul>

              <ol *ngSwitchCase="'ol'">
                <li *ngFor="let para of outText">{{ para }}</li>
              </ol>

            </ng-container>


          </div>



          <div *ngSwitchCase="'code'">

            <code>

              <ng-container [ngSwitch]="formatMicro">

                <ng-container *ngSwitchCase="'p'">
                  <ng-container *ngFor="let para of outText">
                      <p><span class="tag">&lt;p&gt;</span>{{ para }}<span class="tag">&lt;/p&gt;</span></p>
                  </ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'ul'">
                  <p><span class="tag">&lt;ul&gt;</span></p>
                  <ng-container *ngFor="let para of outText">
                      <p><span class="tag">&lt;li&gt;</span>{{ para }}<span class="tag">&lt;/li&gt;</span></p>
                  </ng-container>
                  <p><span class="tag">&lt;/ul&gt;</span></p>
                </ng-container>

                <ng-container *ngSwitchCase="'ol'">
                  <p><span class="tag">&lt;ol&gt;</span></p>
                  <ng-container *ngFor="let para of outText">
                      <p><span class="tag">&lt;li&gt;</span>{{ para }}<span class="tag">&lt;/li&gt;</span></p>
                  </ng-container>
                  <p><span class="tag">&lt;/ol&gt;</span></p>
                </ng-container>

              </ng-container>

            </code>

          </div>
          
          
          <div *ngSwitchCase="'markdown'">
            
            <ng-container [ngSwitch]="formatMicro">
              
              <ng-container *ngSwitchCase="'p'">
                <p *ngFor="let para of outText">{{ para }}</p>
              </ng-container>
              
              <p *ngSwitchCase="'ul'">
                <span *ngFor="let para of outText">- {{ para }}<br /></span>
              </p>
              
              <p *ngSwitchCase="'ol'">
                <span *ngFor="let para of outText">1. {{ para }}<br /></span>
              </p>
                            
            </ng-container>
            
            
          </div>
          
        
      </ng-container>

    </div>


</div>

