
<main [ngClass]="{dark: darkMode}">

    <div class="container">

        <div id="branding">
            <h1>for placement only</h1>
        </div>

    </div>



    <app-text-generator></app-text-generator>



    <div class="container">

        <div id="footer" class="row">

            <div class="leftside col-md-6">
                <p>
                    Found a bug? <a href="https://gitlab.com/deuleyville/perfectipsum/issues" target="_blank">Submit an issue</a>.<br />
                    Your contributions are welcome! <a href="https://gitlab.com/deuleyville/perfectipsum" target="_blank">Send us a merge request</a>.
                </p>
                <p>
                    <button (click)="toggleColorMode()">Toggle Darkmode</button>
                </p>
            </div>

            <div class="rightside col-md-6">
                <p>Made with <span class="red">❤</span> in San Antonio by your friends at <a href="https://4th.design" target="_blank"><img src="assets/4th.svg" height="24px" alt="" srcset=""></a></p>
            </div>
        </div>

    </div>

</main>
