/* You can add global styles to this file, and also import other style files */

$red: #f52544

body
    font-family: 'Roboto Mono', monospace
    font-size: 10pt


#branding
    padding: .1rem .5rem
    margin-bottom: 4rem
    background: $red

    h1
        width: 100%
        padding: 0
        margin: 0
        text-align: center
        font-weight: 700
        font-size: .7em
        letter-spacing: .3em
        line-height: 3em
        text-transform: uppercase
        color: white


code
    font-size: 1em
    font-family: 'Roboto Mono', monospace
    color: black

    .tag
        color: $red


ul, ol
    padding: 0
    margin: 0
    padding-left: 1em

    li
        margin-bottom: 1em


::selection, ::-moz-selection
    background: #f52544
    color: white



button, .btn
    margin-right: .5rem
    transition: color 0 !important


.btn-red
    background: $red
    color: white


#footer

    padding: 4rem 0
    margin-top: 4rem
    border-top: 1px solid #eee

    font-size: .9em
    color: #666

    a
        color: black
        text-decoration: underline
        &:hover
            color: #f52544


    .red
        color: #f52544


    .rightside
        text-align: right



main
    min-height: 100vh



main.dark
    background: #111
    color: #f3f3f3

    .btn
        color: white

        &.btn-light
            color: black


    code
        color: white


    #footer a
        color: white


